
/* for Navigation componant */
a.active{
  background-color: blue;
  color: white;
  padding: 5px 10px ;
  border-radius: 6px;
}
.Head{
  position: sticky;
  top: 0;
  z-index: 20;
  width: 100%;
}
.all-nav{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link{
  text-decoration: none;
  color: black;
}
.the-card{
  width: 300px;
  height: fit-content;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}
.img-card{
  width: 100%;
  height: 250px;
}
.img-card:hover{
  transform: scale(1.1);
  overflow: hidden;
}
.cardText {
  margin:10px 0;
}
.cardText h3{
  font-size: 15px;
  height:30px;
}

.search-nav{
  width: 500px;
  position: relative;
}
.icon-search{
  font-size: 20px;
  position: absolute;
  left: 90%;
}
.button a {
  font-size: 18px;
}
.Mobile-nav{
  display: none;
}

.Mopile-Nav{
  display: none;
}
.search-mop{
  display: none;
}

@media screen and ( max-width:900px) {
  .Head{
    position: relative;
  }
  .Mobile-nav{
    display: block;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .allbutton{
    display: flex;
    align-items: baseline;
    margin-right: 20px;
  }
.all-nav{
  display: none;
  padding: 20px;
}
.h-list{
  display: block;
  font-size: 25px;
  margin-left: 10px;
  border: none;
}
.h-list-mop{
  font-size: 25px;
  position: fixed;
  top: 0;
  right: 20px;
  display: flex;
  align-items: center;
  margin: 5px;
  border: none;
}
.search-mop{
  display: block;}

  .nav-list{
    position: fixed;
    background-color: #EEE;
    right: 0;
    top: 0;
    width: 62%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid gray;
    padding-top: 80px;
    transition: 1s;

  }
  .visible{
transform: translateX(0px); 
 }
  .notvisible{
    transform: translateX(1000px); 
  }
  .button a {
    font-size: 12px;
  }
  
  .nav-list .link{
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-decoration: none;
  }
  .close{
    margin-right: 10px;
    transform: scale(0.8);
  }

  .d-pro{
    display: flex;
    flex-direction: column;
  }
  .img-d{
    margin-left: auto;
    margin-right: auto;
  }
  .contnt-d{
    margin: 30px 0;
  }
  .d-card{
    width: 15rem;
  }

  .cart{
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .allpage{

    }
    .order{
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    
    }
    .summary{
      margin: 0;
      }
    
    .cartpage{
      display: flex;
      flex-direction: column;
    }
    .d-to-cart{
      margin: 20px 0;
    }
    .about-us{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px 0;
    }
    .content{
      width: 70%;
    }
    .feature{
      display: flex;
      flex-direction: column;
      align-items: center;    }
  
    .feature img{
      width: 150px;
    } 

    .about-img img{
      width: 250px;
    }
   
}

/* for footer componant */
.f-content{
  background-color: darkblue;
  padding: 20px;
  margin: 0;
}
 .Title-footer{
  text-align: center;
 }

.form-footer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo-footer{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.logo-footer p {
  color: white;
}
.Line{
  border-bottom: 2px solid white;
  width: 100%;
  height: 0.5px;
}
.LineM{
  border-bottom: 2px solid black;
  width: 80%;
  height: 0.5px;
}

.thecontainer{
  display: flex;
  justify-content: space-between;
    width: 100%;
    margin-left: 10px;
}  
.about{
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 20px;
  font-size: 15px;
}
.about h4{
  font-size: 12px;
}
.about a{
  margin-top: 5px;
  color: white;
}
.icons {
  display: flex;
  justify-content: center;
}

.icons a{
  border: 2px solid white;
  border-radius: 30px;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  align-items: center;
  padding: 0 10px;
  padding-bottom: 7px;
  text-decoration: none;
  color: white;
}
.rights{
  display: flex;
justify-content: center;
align-items: baseline;
margin-top: 10px;
color: white;
}
.rights a{
color: white;
font-size: 12px;
}
.rights p{
  color: white;
  font-size: 12px;
  }
  


/* for home componant */
.categories{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.c-text{
display: flex;
justify-content: center;
margin: 20px 0;
}
.cat-img{
  width: 100%;
  height: 200px;
}
.s-Now{
  margin-left: 20px;
  margin-bottom: 10px;
}
.banar{
  margin: 20px 20px;
  width: 80%;
}
.img-paner{
  width: 100%;
  height: 250px;
}
.to-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carts-container{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.carts-slider{
  display: flex;
  width: 100%;
  overflow: hidden;
  transition: 2s;
  position: relative;
}
.slider{
  display: flex;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45% ;
  z-index: 2;
}
.buttons button{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

/* for sign componant */
.all-sign{
  height: 110vh;
}
.sign{
  background-color: #EEE;
  width: 300px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
  margin-right: auto;
  margin-left: auto;

}
.text-sign{
  text-align: center;
  margin-top: 20px;
  font-size: 29px;
}
.img-sign{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.New{
display: flex;
justify-content: center;
}
.rights-sign{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;
}
/* new account componant */
/* for cart page componant */
.cart-Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  background-color: #EEE;
  margin: 30px 0;
}
.thetitle{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}
.cart{
  background-color: #EEE;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}
.img-cart{
  width: 100px;
}

.shopping-cart{
  width: 100%;
}
.cart-row{
  width: 100%;
  display: flex;

}
.item-cart{
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.item-cart img{
  width: 100px;
  height: 100px;
  margin: 10px;
}
.item-cart h3{
font-size: 12px;
margin: 0 10px;
}
.item-cart h5{
  font-size: 15px;
  margin: 0 10px;
  }
  .quantity{
    display: flex;
    }

  .quantity span{
    width: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .allpage{
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    }
    .order{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  .summary{
    background-color: #EEE;
    width: 300px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px;
    }
    .Row{
      display: flex;
      justify-content: space-between;
    }
    .check{
      margin: 20px 0;
      display: flex;
      width: 200px;
    }
    /* for details page */
  .cartpage{
    padding: 20px;
    display: flex;
    justify-content: baseline;
  }
    .cart-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }

    .all-d{
      display: flex;
      justify-content: center;
    }
    .d-pro{
      width: fit-content;
      background-color: #EEE;
      margin: 0 20px;
      display: flex;
      padding: 20px;
      border: 1px solid black;
      border-radius: 10px;
    }
    .contnt-d{
      margin-left: 50px;
    }
    .rate{
      display: flex;
      align-items: center;
    }
    .Quantity{
      display: flex;
      align-items: baseline;
      margin: 20px 0;
    }
  .pro-name{
    width: 200px;
  }
  .d-to-cart{
    background-color: #EEE;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  /* about page */

  .about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  .feature{
    display: flex;
    justify-content: center;
  }

  .feature img{
    width: 150px;
  } 
  .f-t{
 display: flex;
 flex-direction: column;
 align-items: center;
  }
  .card-f{
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
    text-align: center;
  }

  /* contact us page */
  .contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }